<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>914856312173-t0u1g8064vr1jeivf8akpd552khmlo66.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.914856312173-t0u1g8064vr1jeivf8akpd552khmlo66</string>
	<key>API_KEY</key>
	<string>AIzaSyDAaIjtd4rDVVBJdsES3dAnriqJRV-KVLs</string>
	<key>GCM_SENDER_ID</key>
	<string>914856312173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.corridasegura.corridasegura</string>
	<key>PROJECT_ID</key>
	<string>corridasegura-33008</string>
	<key>STORAGE_BUCKET</key>
	<string>corridasegura-33008.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914856312173:ios:70197ede4e86b844a3ae64</string>
</dict>
</plist>